.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form_container{
  background-color: cornsilk;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_wrapper{
  background-color: whitesmoke;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form_wrapper form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.logo{
  color: crimson;
  font-size: 3rem;
  font-weight: 600;
}
.title{
  font-size: 1.5rem;
  font-weight: bold;
}
.form_wrapper form input{
  padding: 15px;
  border: none;
  border-bottom: 1px solid crimson;
  background: none;
  outline: none;
  width: 250px;
}
.form_wrapper form input::placeholder{
  color: darkorange;
  font-size: 1rem;
}

.form_wrapper form button{
  background-color: crimson;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
#file{
  display: none;
}
label{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  color: darkorange;
  cursor: pointer;
}
label img{
  width: 30px;
  margin-right: 10px;
}

.home{
  background-color: bisque;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.home_container{
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidebar{
  width: 20%;
  background-color: darkslategrey;
}
.chat{
  flex: 2;
}

.navbar{
  display: flex;
  align-items: center;
  background-color: rgb(21, 53, 53);
  height: 50px;
  padding: 10px;
  justify-content: space-between;
}
.navbar .logo{
  color: whitesmoke;
  font-size: 1.5rem;
}
.user{
  display: flex;
  gap: 10px;
  font-size: 1rem;
  align-items: center;
  font-weight: bold;
  color: whitesmoke;
}
.user img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.user button{
  background-color: darkslategray;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.search{
  border-bottom: 1px solid gray;
}
.search_form{
  padding: 10px;
}
.search_form input{
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  width: 100%;
}
.user_chat{
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  color: white;
  cursor: pointer;
}
.user_chat:hover{
  background-color: rgb(43, 66, 66);
}

.user_chat img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.user_chat_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user_chat_info p{
  margin: 0;
  font-size: 14px;
  color: lightgray;
}
.user_chat_info span{
  font-size: 18px;
}

.chat_info{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: lightgray;
  background-color: rgb(66, 110, 110);
}
.chat_icons{
  display: flex;
  gap: 10px;
}
.chat_info img{
  width: 30px;
  cursor: pointer;
}
.messages{
  background-color: rgb(113, 151, 151);
  height: calc(100% - 140px);
  overflow-y: scroll;
}
.input{
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#input_file{
  display: none;
}
.input img{
  max-width: 24px;
  cursor: pointer;
}
.input input{
  width: 100%;
  border: none;
  outline: none;
  font-style: 18px;
  color: darkseagreen;
  padding: 10px;
}
.input input::placeholder{
  color: lightgray;
  font-size: 18px;
}
.send{
  display: flex;
  align-items: center;
  gap: 10px;
}
.send button{
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: darkslategray;
  font-size: 18px;
  cursor: pointer;
}

.message{
  display: flex;
  gap: 20px;
  padding: 10px;
}
.message_info{
  display: flex;
  flex-direction: column;
  color: gray;
  justify-content: space-between;
}
.message_info img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: 13px;
}
.message_content{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.message_content p{
  background-color: rgb(199, 231, 231);
  padding: 10px 15px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}
.message_content img{
  width: 50%;
  max-width: 250px;
}

.owner{
  flex-direction: row-reverse;
}
.owner .message_content{
  align-items: flex-end;
}
.owner p{
  background-color: rgb(75, 153, 153);
  color: white;
  border-radius: 10px 0 10px 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1230px) {
  .sidebar{
    width: 30%;
  }
}
@media screen and(max-width:1042px){
  .sidebar{
    width: 40%;
  }
  .navbar span.logo{
    font-size: 8px;
  }
  .user{
    font-size: .7rem;
  }
  .user button{
    font-size: 0.5rem;
  }
  .user img{
    width: 30px;
    height: 30px;
  }
  
}

@media screen and (max-width: 819px) {
  .navbar .logo{
    display: none;
  }
}
@media screen and (max-width: 626px) {
  .sidebar{
    width: 40%;
    position: relative;
  }
  .user button{
    font-size: 12px;
    padding: 8px;
    position: absolute;
    bottom: 0;
  }
  .user img{
    width: 30px;
    height: 30px;
  }
  .user_chat img{
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width:351px) {
  .user{
    font-style: 10px;
    flex-wrap: wrap;
  }
  .user_chat img{
    width: 20px;
    height: 20px;
  }
}